/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Oswald:wght@200..700&display=swap');
/* Custom Styles */
:root{
    --primary-font: 'Inter', sans-serif;
    --secondary-font: 'Macondo', cursive;
    --primary-color: #3a2620;
    --secondary-color: #aa9581;
    --highlight-color: #416a8e;
    --light-highlight-color: #7a9fc2;
}

body {
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #212529;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h1, h2 {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 2rem;
}

.sub-heading-color {
    color: var(--highlight-color);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* navbar styles */
#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width: 30px;
}
/* header styles */
#header .lead{
    font-family: var(--secondary-font);
}
/* services section */
#services .card-footer{
    font-weight: bold;
    color: var(--highlight-color);
    background-color: transparent;
}

#services .card{
    margin-bottom: 1.5rem;
}
/* .container, 
.row{
    border: 2px solid black;
}

.col-12{
    border: 2px solid white;
    background-color: lightgray;
} */
 @media (min-width: 768px) {
    /* make card body same height to fix height inconsistency */
    #services .card-body {
        min-height: 191px;
    }
 }
  @media (min-width: 992px) {
    /* make card body same height to fix height inconsistency */
    #services .card-body {
        min-height: auto;
    }
 }
 @media (min-width: 1200px) {
    /* make card body same height to fix height inconsistency */
    #services .card-body {
        min-height: 220px;
    }
 }
 @media (min-width: 1400px) {
    /* make card body same height to fix height inconsistency */
    #services .card-body {
        min-height: 195px;
    }
 }